wsdlobjects/src/main/resources/wsdl/xsd/AccountManagementMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by Equens SE (Equens SE) -->
<xs:schema xmlns:tns="http://www.equens.com/cards/issuing/messages/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:types="http://www.equens.com/cards/issuing/types/v1.0" targetNamespace="http://www.equens.com/cards/issuing/messages/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--date:30-Oct-2017-->
	<!--version: 1.0.0-->
	<!--status: draft-->
	<!--Catalogue: V1.0-->	
	<xs:import namespace="http://www.equens.com/cards/issuing/types/v1.0" schemaLocation="Cards_Issuing_Common.xsd"/>
	<xs:complexType name="GetAccountDataRequestType">
		<xs:sequence>
			<xs:element name="AccountKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Card account number. It is a system number internally calculated by Equens</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wstype" type="types:Max2Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Identifies the WS version that has be used. It’s used by the application to select the proper version of the WS to be used</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetAccountDataResponseType">
		<xs:sequence>
			<xs:element name="AccountKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Card account number. It is a system number internally calculated by Equens</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreditLineData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CLBaseAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CLBaseAmount is the amount of the base credit line assigned to a card
account (shared by all its cards, primary and supplementary). This is the
permanent one assigned to the card account at card order and can be
changed. The change has still permanent effect (no expiration date)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CLCurrAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CLCurrAmount is the amount of the credit line valid at the time of inquiry. In
case of active temporary credit line (with start/end dates) the CLCurrAmount
shows the temporary credit line amount, otherwise it shows the base credit
line amount</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CLCurrType" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the permanent or temporary indicator of the credit line valid at time
of inquiry. It describes the credit line type related to CLCurrAmount</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CLCurrExpDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the current credit line expiry date in case it is temporary at time of
inquiry. It is related to CLCurrAmount</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FinancialData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StmtBalanceAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account statement transactions balance amount for cardholder
expenses.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AuthOutstandingAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account outstanding authorization transactions amount for
cardholder expenses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OpenToBuyAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account available amount for cardholder expenses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OverlineAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account overline amount for cardholder expenses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DelinquencyAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account delinquency amount for cardholder expenses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InterestRate" type="types:Max8Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account interest rate for cardholder expenses</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InterestMarginRate" type="types:Max8Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the account interest margin rate for cardholder expenses</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RelatedData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatementCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Statement Code of the account which controls how statement is produced</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the client defined product code ot the related account. If not entered
will be defaulted from the system: DDA - Deposit Account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IBAN" type="types:Max34Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bank Account. IBAN is entered when statement type is changed to e-Invoice or Direct payment</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BankAcctDescription" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The bank account description.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ReferenceID is an internal reference for identifying the relationship with bank account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DelinqLetterBlockInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The delinquency letter block indicator is used to suspend the reminder letter generation and reminder fee posting</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressUseCode" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The address use code is to determine which address to be managed. (ST = account and PL = card). Cardholder address is copied from card address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine0" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 0 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine1" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 1 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 2 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCity" type="types:Max25Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address city</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressProvince" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address province</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressZipCode" type="types:Max9Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Area Zip Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCountryCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Country Code according to ISO-3 code.For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MinPaymentOption" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The minimum payment option code is used to assign a minimum payment amount. The option code drives the selection or the combination of a predefined fixed amount or/and a percentage of the due amount</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinPaymentAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Used to assign a minimun payment amount (zeroes is an allowed value)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinPaymentPercentage" type="types:Max8Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Used to assign a minimum payment percentage (zeroes is an allowed value)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentDueDay" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The new PaymentDueDay will be used to calculate the new billing due day.
If the difference between the last billing due day and the NEXT (new
calculated) billing due day is greater than the predefined minimum days in
cycle allowed, then the request will be accepted (that restriction will not be
applied once the agreed changes will be implemented)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentDueDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The payment due date identified for the current billing cycle</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AcctCycleDay" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The billing cycle day defined for the account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AcctLastCycleDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The billing cycle date defined for the current billing cycle</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AcctNextCycleDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The billing cycle date defined for the next billing cycle</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StatementReferenceNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reference for identifying the relationship with the statement, to match it against the payments</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="StatusData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AcctStatusCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The current status code defined for the account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AcctStatusReasonCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The current status reason code defined for the account</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountTitleLine1" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine3" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line3</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BankGuaranteeInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates if the bank account is guaranteed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalProductCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Client defined additional product code of the related account. If not entered will be defaulted from the system</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalIBAN" type="types:Max34Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The additional account number (e.g. e-invoice)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalAcctDescription" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The additional account description (e.g. e-invoice)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalReferenceID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Internal reference for identifying the relationship with additional account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountIssuingBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Issuing Branch of the card account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountOwnerBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Owner Branch of the card account</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentFreeMonthData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentFreeMonth" type="types:Max2Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The code indicates the payment free month choosen by the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentFreeMonthLastChangeDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Effective date of payment free month change</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountPaymentDay" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PaymentDueDays" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of days between the statement date and the minimum payment due date</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentDueFixedDay" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Fixed day of the month that the payment is due</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountManagementHeader">
		<xs:sequence>
			<xs:element name="RequestID" type="types:Max36Text"/>
			<xs:element name="IssuerID" type="types:Max5Text" minOccurs="0"/>
			<xs:element name="RequestTimestamp" type="types:Max40Text"/>
			<xs:element name="LoginID" type="types:Max8Text"/>
			<xs:element name="OperatorID" type="types:Max8Text" minOccurs="0"/>
			<xs:element name="OriginatingChannel" type="types:Max12Text" minOccurs="0"/>
			<xs:element name="ResponseMode" type="types:Max1Text" minOccurs="0"/>
			<xs:element name="OrderMode" type="types:Max1Text" minOccurs="0"/>
			<xs:element name="FunctionVersion" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccountManagementResponseHeader">
		<xs:sequence>
			<xs:element name="RequestID" type="types:Max36Text"/>
			<xs:element name="ExecutionEffectiveDate" type="xs:date"/>
			<xs:element name="ExecutionTimestamp" type="xs:time"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
