wsdlobjects/src/main/resources/wsdl/xsd/CardOrderManagementMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2017 sp2 (x64) (http://www.altova.com) by equens Worldline SE (equens Worldline SE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.equens.com/cards/issuing/messages/" xmlns:types="http://www.equens.com/cards/issuing/types/v1.0" xmlns:codes="http://www.equens.com/cards/issuing/codes/v1.0" targetNamespace="http://www.equens.com/cards/issuing/messages/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--date:30-Oct-2017-->
	<!--version: 1.0.0-->
	<!--status: draft-->
	<!--Catalogue: V1.0-->
	<xs:import namespace="http://www.equens.com/cards/issuing/types/v1.0" schemaLocation="Cards_Issuing_Common.xsd"/>
	<xs:complexType name="IssuePrimaryCardRequestType">
		<xs:sequence>
			<xs:element name="CardOrderManagementHeader" type="tns:CardOrderManagementHeader"/>
			<xs:element name="ProductKey" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IssuerKeyType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>Identifier of the type of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of  product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IssuerKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of the issuer of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonalID" type="types:Max16Text">
							<xs:annotation>
								<xs:documentation>Finnish tax identifier code. This is used to identify a customer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerData" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FirstName" type="types:Max20Text">
							<xs:annotation>
								<xs:documentation>The first name of the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Surname" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>The surname of the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DateOfBirth" type="xs:date">
							<xs:annotation>
								<xs:documentation>The date of birth of the cardholder</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CityOfBirth" type="types:Max25Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The city in which the customer was born</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProvinceOfBirth" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The province in which the customer was born</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CountryOfBirth" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Country in which the customer was born according to ISO-3 code. For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Gender" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Sex/Gender of the customer: M = male F = female O = other</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Nationality" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Nationality of the customer according to ISO-3 code. For example: FIN, SWE
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaritalStatus" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the marital status of the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LanguageCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Customer's preferred language of communication according to ISO-3 code.
For example: FIN, SWE
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmailAddress" type="types:Max80Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Contact Email Address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp1" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 1: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp2" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 2: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp3" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 3: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp4" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 4: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>The type of document being used as identification.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentNumber" type="types:Max12Text">
							<xs:annotation>
								<xs:documentation>The number of the document.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentIssueDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>The date when he document was issued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentIssuedBy" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>This is described the authority that has issued the document</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocIssuedPlace" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>This is where the city where the document was issued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocIssueProvCode" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>This is province where the document was issued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocCountryCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>This is country code where the document was issued according to ISO-3 code. For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CustomerContact" minOccurs="0" maxOccurs="4">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PhoneType" type="types:Max6Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Contact telephone number type</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InternaltionalPrefix" type="types:Max6Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>International Prefix</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AreaCode" type="types:Max6Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>National Area Code</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PhoneNumber" type="types:Max16Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Phone number</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomerType" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>Customer Type</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardData" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EmbossingLine1" type="types:Max26Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Embossing Line  1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbossingLine2" type="types:Max26Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Embossing Line  2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStock" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the card stock used for the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContactlessIndicator" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag if the device is contactless:
                                                  0: Contact only
                                                  1: Contact and contactless debit
                                                  2: Contact and contactless credit
                                                  4: Mobile HCE (Debit card only)
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates expected way to handle Loyalty number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of loyalty program. A value equal 0 means remove the loyalty program from the plastic</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbMembershipInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates if the Membership has been embossed on the device:
                                                               0: no membership on card (backside and track) 
                                                               1: membership on card (backside and track)
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbBonusCustomerInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This Flag indicates if the Helsinki Bonus has been embossed on the device:
                                                              0: no bonuscustomer on card (backside and track) 
                                                              1: bonuscustomer on card (backside and track)
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DeliveryBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Branch to which this device was delivered</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Service3DSEnrollment" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates the type of 3D Secure (VbV for Visa and SecureCode for MasterCard) program enrollment. If not provided the default type at product level applies:
                                                               0: Enroll to TUPAS service
                                                               1: Enroll to other 3D Secure service
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgreementID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identification of the contract</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgreementDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date in which the contract has been signed-off</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ApplicationID" type="types:Max19Text">
							<xs:annotation>
								<xs:documentation>Identify the ApplicationID originating the request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardSpendingLimit" minOccurs="0" maxOccurs="6">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LimitUsageCode" type="types:Max3Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The dedicated usage the spending limit is referring to</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LimitPeriod" type="types:Max1Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Period of validity of the spending limit</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LimitAmount" type="types:Max16Decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>16 (sign and 2 decimal digits included) – Back end format S9(13)V99 Total amount of items allowed for Period. If not required (only counter limits) it must be set to the highest value: ‘999999999999.99'</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LimitCounter" type="types:Max9Digit" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Number of items allowed for Period. If not required (only amount limits) will be set to '999999999'.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PlsMailingMethod" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This code indicates how the device was delivered</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardMailingMethodPIN" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mailing method used for the PIN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardNickname" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nickname assigned to the card</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardMData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UserID" type="types:Max50Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identify the Mobile card User ID originating the request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MpaID" type="types:MpaID" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identify the Mobile payment application ID of mobile card</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressData" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressUseCode" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>The address use code is to determine which address to be managed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine1" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine3" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line3</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine1" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine3" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line3</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine0" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 0 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine1" type="types:Max40Text">
							<xs:annotation>
								<xs:documentation>Address line 1 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 2 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCity" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>Address city</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressProvince" type="types:Max15Text">
							<xs:annotation>
								<xs:documentation>Address province</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressZipCode" type="types:Max9Text">
							<xs:annotation>
								<xs:documentation>Area Zip Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCountryCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Country Code according to ISO-3 code.For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountData" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CLBaseAmount" type="types:Max16Decimal" minOccurs="0">
							<xs:annotation>
								<xs:documentation>CLBaseAmount is the amount of the base credit line assigned to a card account (shared by all its cards, primary and supplementary).
                                    This is the permanent one assigned to the card account at card order and can be changed. The change has still permanent effect (no expiration date).
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StatementCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Statement Code of the account which controls how statement is produced</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the client defined product code ot the related account. If not entered
                                 will be defaulted from the system: DDA - Deposit Account
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IBAN" type="types:Max34Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bank Account. IBAN is entered when statement type is changed to e-Invoice or Direct payment</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BankAcctDescription" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The bank account description.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ReferenceID is an internal reference for identifying the relationship with bank account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinPaymentOption" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The minimum payment option code is used to assign a minimum payment amount. The option code drives the selection or the combination of a predefined fixed amount or/and a percentage of the due amount</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinPaymentAmount" type="types:Max16Decimal">
							<xs:annotation>
								<xs:documentation>Used to assign a minimun payment amount (zeroes is an allowed value)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MinPaymentPercentage" type="types:Max8Decimal">
							<xs:annotation>
								<xs:documentation>Used to assign a minimum payment percentage (zeroes is an allowed value)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PaymentDueDay" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The new PaymentDueDay will be used to calculate the new billing due day.
                                 If the difference between the last billing due day and the NEXT (new calculated) billing due day is greater than the predefined minimum days in
                                 cycle allowed, then the request will be accepted (that restriction will not be applied once the agreed changes will be implemented)
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="GuaranteeInd" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>This flag indicates if the account is guaranteed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalProductCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Client defined additional product code of the related account. If not entered will be defaulted from the system</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalIBAN" type="types:Max34Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The additional account number (e.g. e-invoice)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalAcctDescription" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The additional account description (e.g. e-invoice)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AdditionalReferenceID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Internal reference for identifying the relationship with additional account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IssuingBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Issuing Branch of the card account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="OwnerBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Owner Branch of the card account</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wstype" type="types:Max2Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Identifies the WS version that has be used. It’s used by the application to select the proper version of the WS to be used</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Raikey" type="types:Max4Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Raikey</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NDG" type="types:Max15Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Customer NDG number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExternalReference" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExtReferenceType" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>External Reference type</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExtReferenceID" type="types:Max23Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>External Reference ID</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OccupationData" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OccupationCode" type="types:Max2Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Customer occupation code</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BusinessArea" type="types:Max2Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Customer business area</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ProfessionalQualifications" type="types:Max4Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Customer business area</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FlagEmailActivation" type="types:Max1Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Flag bank statement via e-mail activation</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssuePrimaryCardResponseType">
		<xs:sequence>
			<xs:element name="CardOrderManagementResponseHeader" type="tns:CardOrderManagementResponseHeader"/>
			<xs:element name="ProductKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IssuerKeyType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>Identifier of the type of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of  product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IssuerKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of the issuer of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonalID" type="types:Max16Text">
							<xs:annotation>
								<xs:documentation>Personal or tax identifier code. This is used to identify a customer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SurrogateID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeviceKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SurrogateID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExpiryDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Expiry Date of the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SequenceNbr" type="types:Max3Digit">
							<xs:annotation>
								<xs:documentation>Sequence Number assigned to identify a device within the same PAN. This field is optional for the migrated card</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Card account number. It is a system number internally calculated by Equens</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ApplicationID" type="types:Max19Text">
							<xs:annotation>
								<xs:documentation>Identify the ApplicationID originating the request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates if a Loyalty number has been embossed on the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of loyalty program. A value equal 0 means remove the loyalty program from the plastic</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatementReferenceNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reference for identifying the relationship with the statement, to match it against the payments</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountInternalID" type="types:Max13Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Account internal ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProcessingRelationship" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="COID" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Company identifier of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner1" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 1 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner2" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 2 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner3" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 3 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PlasticType" type="types:Max3Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Code that indicates the type of product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStatus" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CardStatusCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Status of the card</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CardStatusReasonCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Status Reason of the card</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AccountStatus" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AccountStatusCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The current status code defined for the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AccountStatusReasonCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The current status reason code defined for the account</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssueSupplementaryCardRequestType">
		<xs:sequence>
			<xs:element name="CardOrderManagementHeader" type="tns:CardOrderManagementHeader"/>
			<xs:element name="ProductKey" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IssuerKeyType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>Identifier of the type of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of  product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IssuerKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of the issuer of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonalID" type="types:Max16Text">
							<xs:annotation>
								<xs:documentation>Finnish tax identifier code. This is used to identify a customer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerData" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="FirstName" type="types:Max20Text">
							<xs:annotation>
								<xs:documentation>The first name of the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Surname" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>The surname of the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DateOfBirth" type="xs:date">
							<xs:annotation>
								<xs:documentation>The date of birth of the cardholder</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CityOfBirth" type="types:Max25Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The city in which the customer was born</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProvinceOfBirth" type="types:Max2Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The province in which the customer was born</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CountryOfBirth" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Country in which the customer was born according to ISO-3 code. For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Gender" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Sex/Gender of the customer: M = male F = female O = other</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Nationality" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Nationality of the customer according to ISO-3 code. For example: FIN, SWE
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="MaritalStatus" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the marital status of the customer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LanguageCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Customer's preferred language of communication according to ISO-3 code.
For example: FIN, SWE
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmailAddress" type="types:Max80Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Contact Email Address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp1" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 1: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp2" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 2: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp3" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 3: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PrivacyFormResp4" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Privacy Form Responses for questions 4: Y or N</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>The type of document being used as identification.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentNumber" type="types:Max12Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The number of the document.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentIssueDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>The date when he document was issued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentIssuedBy" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>This is described the authority that has issued the document</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocIssuedPlace" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>This is where the city where the document was issued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocIssueProvCode" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>This is province where the document was issued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocCountryCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>This is country code where the document was issued according to ISO-3 code. For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CustomerContact" minOccurs="0" maxOccurs="4">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="PhoneType" type="types:Max6Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Contact telephone number type</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="InternaltionalPrefix" type="types:Max6Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>International Prefix</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AreaCode" type="types:Max6Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>National Area Code</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="PhoneNumber" type="types:Max16Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Phone number</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="CustomerType" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>Customer Type</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardData" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="EmbossingLine1" type="types:Max26Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Embossing Line  1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbossingLine2" type="types:Max26Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Embossing Line  2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStock" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This is the card stock used for the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContactlessIndicator" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag if the device is contactless:
                                                  0: Contact only
                                                  1: Contact and contactless debit
                                                  2: Contact and contactless credit
                                                  4: Mobile HCE (Debit card only)
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates expected way to handle Loyalty number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of loyalty program. A value equal 0 means remove the loyalty program from the plastic</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbMembershipInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates if the Membership has been embossed on the device:
                                                               0: no membership on card (backside and track) 
                                                               1: membership on card (backside and track)
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbBonusCustomerInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This Flag indicates if the Helsinki Bonus has been embossed on the device:
                                                              0: no bonuscustomer on card (backside and track) 
                                                              1: bonuscustomer on card (backside and track)
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DeliveryBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Branch to which this device was delivered</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Service3DSEnrollment" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates the type of 3D Secure (VbV for Visa and SecureCode for MasterCard) program enrollment. If not provided the default type at product level applies:
                                                               0: Enroll to TUPAS service
                                                               1: Enroll to other 3D Secure service
                                 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgreementID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identification of the contract</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgreementDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date in which the contract has been signed-off</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ApplicationID" type="types:Max19Text">
							<xs:annotation>
								<xs:documentation>Identify the ApplicationID originating the request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardSpendingLimit" minOccurs="0" maxOccurs="6">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="LimitUsageCode" type="types:Max3Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>The dedicated usage the spending limit is referring to</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LimitPeriod" type="types:Max1Text" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Period of validity of the spending limit</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LimitAmount" type="types:Max16Decimal" minOccurs="0">
										<xs:annotation>
											<xs:documentation>16 (sign and 2 decimal digits included) – Back end format S9(13)V99 Total amount of items allowed for Period. If not required (only counter limits) it must be set to the highest value: ‘999999999999.99'</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="LimitCounter" type="types:Max9Digit" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Number of items allowed for Period. If not required (only amount limits) will be set to '999999999'.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PlsMailingMethod" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This code indicates how the device was delivered</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardMailingMethodPIN" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Mailing method used for the PIN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardNickname" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nickname assigned to the card</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddressData" minOccurs="0" maxOccurs="2">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressUseCode" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>The address use code is to determine which address to be managed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine1" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AccountTitleLine3" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line3</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine1" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine3" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address. Line3</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine0" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 0 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine1" type="types:Max40Text">
							<xs:annotation>
								<xs:documentation>Address line 1 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 2 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCity" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>Address city</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressProvince" type="types:Max15Text">
							<xs:annotation>
								<xs:documentation>Address province</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressZipCode" type="types:Max9Text">
							<xs:annotation>
								<xs:documentation>Area Zip Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCountryCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Country Code according to ISO-3 code.For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Card account number. It is a system number internally calculated by Equens</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wstype" type="types:Max2Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Identifies the WS version that has be used. It’s used by the application to select the proper version of the WS to be used</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Raikey" type="types:Max4Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Raikey</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NDG" type="types:Max15Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Customer NDG number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExternalReference" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ExtReferenceType" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>External Reference type</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExtReferenceID" type="types:Max23Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>External Reference ID</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OccupationData" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="OccupationCode" type="types:Max2Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Customer occupation code</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="BusinessArea" type="types:Max2Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Customer business area</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ProfessionalQualifications" type="types:Max4Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Customer business area</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="FlagEmailActivation" type="types:Max1Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Flag bank statement via e-mail activation</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssueSupplementaryCardResponseType">
		<xs:sequence>
			<xs:element name="CardOrderManagementResponseHeader" type="tns:CardOrderManagementResponseHeader"/>
			<xs:element name="ProductKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IssuerKeyType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>Identifier of the type of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of  product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IssuerKey" type="types:Max50Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identifier of the issuer of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonalID" type="types:Max16Text">
							<xs:annotation>
								<xs:documentation>Finnish tax identifier code. This is used to identify a customer</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SurrogateID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DeviceKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SurrogateID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ExpiryDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Expiry Date of the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SequenceNbr" type="types:Max3Digit">
							<xs:annotation>
								<xs:documentation>Sequence Number assigned to identify a device within the same PAN. This field is optional for the migrated card</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AccountKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Card account number. It is a system number internally calculated by Equens</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ApplicationID" type="types:Max19Text">
							<xs:annotation>
								<xs:documentation>Identify the Bank ApplicationID originating the request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This flag indicates if a Loyalty number has been embossed on the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of loyalty program. A value equal 0 means remove the loyalty program from the plastic</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PaymentData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatementReferenceNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Reference for identifying the relationship with the statement, to match it against the payments</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AccountInternalID" type="types:Max13Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Account internal ID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProcessingRelationship" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="COID" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Company identifier of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner1" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 1 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner2" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 2 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner3" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 3 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PlasticType" type="types:Max3Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Code that indicates the type of product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStatus" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="CardStatusCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Status of the card</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CardStatusReasonCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Status Reason of the card</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AccountStatus" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AccountStatusCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The current status code defined for the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AccountStatusReasonCode" type="types:Max3Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>The current status reason code defined for the account</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardOrderManagementHeader">
		<xs:sequence>
			<xs:element name="RequestID" type="types:Max36Text"/>
			<xs:element name="IssuerID" type="types:Max5Text" minOccurs="0"/>
			<xs:element name="RequestTimestamp" type="types:Max40Text"/>
			<xs:element name="LoginID" type="types:Max8Text"/>
			<xs:element name="OperatorID" type="types:Max8Text" minOccurs="0"/>
			<xs:element name="OriginatingChannel" type="types:Max12Text" minOccurs="0"/>
			<xs:element name="ResponseMode" type="types:Max1Text" minOccurs="0"/>
			<xs:element name="OrderMode" type="types:Max1Text" minOccurs="0"/>
			<xs:element name="FunctionVersion" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardOrderManagementResponseHeader">
		<xs:sequence>
			<xs:element name="RequestID" type="types:Max36Text"/>
			<xs:element name="ExecutionEffectiveDate" type="xs:date"/>
			<xs:element name="ExecutionTimestamp" type="xs:time"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
