cards-core-services/issue-card-core-microservice/src/main/resources/wsdl/xsd/CardManagementMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2016 sp1 (x64) (http://www.altova.com) by Equens SE (Equens SE) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.equens.com/cards/issuing/messages/" xmlns:codes="http://www.equens.com/cards/issuing/codes/v1.0" xmlns:types="http://www.equens.com/cards/issuing/types/v1.0" targetNamespace="http://www.equens.com/cards/issuing/messages/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--date:30-Oct-2017-->
	<!--version: 1.0.0-->
	<!--status: draft-->
	<!--Catalogue: V1.0-->
	<xs:import namespace="http://www.equens.com/cards/issuing/types/v1.0" schemaLocation="Cards_Issuing_Common.xsd"/>
	<xs:complexType name="GetCardDataRequestType">
		<xs:sequence>
			<xs:element name="CardKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SurrogateID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Wstype" type="types:Max2Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Identifies the WS version that has be used. It’s used by the application to select the proper version of the WS to be used</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetCardDataResponseType">
		<xs:sequence>
			<xs:element name="CardKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SurrogateID" type="types:Max23Text">
							<xs:annotation>
								<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ProductKey" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IssuerKeyType" type="types:Max6Text">
							<xs:annotation>
								<xs:documentation>Identifier of the type of the product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ProductKey" type="types:Max50Text">
							<xs:annotation>
								<xs:documentation>Identifier of  product</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CardPersoDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date on which the plastic was embossed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardPersoIndicator" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Status of the plastic production for the plastic embossing.
Y: Yes, there is a production request and it is pending
N: No, the production request was not performed
C: Production request was completed
Blank: There is a production request and it is pending</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardNextReissDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date on which the card is to be reissued</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardNextReissInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Status of the plastic production for the plastic embossing.
Y: Yes, there is a production request and it is pending
N: No, the production request was not performed
C: Production request was completed
Blank: There is a production request and it is pending</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardRepSurrID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Surrogate ID of the plastic that replaced the original plastic through the L/S
replacement function</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardPrevSurrID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Surrogate ID of the plastic previously issued on the account</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardReplacementDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date on which the replacement plastic was requested to be embossed</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardExpiryDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Expiry date of the card</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStatusCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Status of the card</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStatusReasonCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Status Reason of the card</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardPrimaryInd" type="types:Max3Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Card relationship indicator</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbossingLine1" type="types:Max26Text">
							<xs:annotation>
								<xs:documentation> Embossing Line 1</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbossingLine2" type="types:Max26Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation> Embossing Line 2</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardStock" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>This is the card stock used for the device</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ContactlessIndicator" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>This flag if the device is contactless:
0: Contact only
1: Contact and contactless
4: Mobile HCE
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of loyalty program. A value equal 0 means remove the loyalty program from the plastic.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LoyaltyNumber" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Number of a loyalty program. A value equal 0 means remove the loyalty program from the plastic</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="NonReissueReason" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This code indicates the reason for non reissuing the card</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbMembershipInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation> This flag indicates if the Membership has been embossed on the device:
0: no membership on card (backside and track)
1: membership on card (backside and track)
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EmbBonusCustomerInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>This Flag indicates if a Bonus has been embossed on the device: 0: no HOP bonuscustomer on card (backside and track) 1: HOP bonuscustomer on card (backside and track)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DeliveryBranch" type="types:Max6Digit" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Branch to which this device was delivered</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Service3DSEnrollment" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>This flag indicates the type of 3D Secure (VbV for Visa and SecureCode for MasterCard) program enrollment. If not provided the default type at product level applies:
0: Enroll to TUPAS service
1: Enroll to other 3D Secure service
</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgreementID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Identification of the contract between the C/H and the issuer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AgreementDate" type="xs:date" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Date in which the contract has been signed-off</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ApplicationID" type="types:Max19Text">
							<xs:annotation>
								<xs:documentation>Identify the ApplicationID originating the request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PlsMailingMethod" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>This code indicates how the device was delivered</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PinMailingMethod" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Mailing method used for the PIN</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine1" type="types:Max40Text">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardTitleLine3" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Customer name used for mailing to a related address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardNickname" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Nickname assigned to the card</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PINData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PINMailerProductionDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>PINMailerProductionDate in combination with                 PINMailerProductionIndicator describes the production status of the PIN mailer. When PIN reorder request is performed:
- PINMailerProductionIndicator = “Y” and
- PINMailerDate = PIN reorder request-date
When TAG feedback information are processed:
- PINMailerProductionIndicator = “C” and
- PINMailerDate = PIN reorder sent-date (based on TAG feedback file)</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PINMailerProductionInd" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>“Y”: there is a production request and it is pending “N”: No, the production request was not performed “C”: Production request was completed</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpendingLimitData" maxOccurs="6">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LimitUsageCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>it indicates the dedicated usage the spending limit is referring to</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LimitUsagePeriod" type="types:Max1Text">
							<xs:annotation>
								<xs:documentation>Period of validity of the spending limit: D - Daily limit M - Monthly limit</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LimitAmount" type="types:Max16Decimal">
							<xs:annotation>
								<xs:documentation>Total amount of items allowed for Period. If not required (only counter limits) it must be set to the highest value: ‘999999999999.99'.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="LimitCounter" type="types:Max5Digit">
							<xs:annotation>
								<xs:documentation>Number of items allowed for Period. If not required (only amount limits) will be set to '99999'</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdressData">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AddressUseCode" type="types:Max2Text">
							<xs:annotation>
								<xs:documentation>The address use code is to determine which address to be managed. (ST = account and PL = card). Cardholder address is copied from card address</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine0" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 0 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine1" type="types:Max40Text">
							<xs:annotation>
								<xs:documentation>Address line 1 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressLine2" type="types:Max40Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address line 2 data</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCity" type="types:Max25Text">
							<xs:annotation>
								<xs:documentation>Address city</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressProvince" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Address province</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressZipCode" type="types:Max9Text">
							<xs:annotation>
								<xs:documentation>Area Zip Code</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="AddressCountryCode" type="types:Max3Text">
							<xs:annotation>
								<xs:documentation>Country Code according to ISO-3 code.For example: FIN, SWE</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="RelatedData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProductCode" type="types:Max3Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Indicates the client defined product code of the related account. If not entered will be defaulted from the system</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="IBAN" type="types:Max34Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Bank Account. IBAN is entered when statement type is changed to e-Invoice or Direct payment. During card order the IBAN presence depends on value assigned to field “IssuerKeyType”</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BankAcctDescription" type="types:Max15Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The bank account description</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceID" type="types:Max23Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>ReferenceID is an internal reference for identifying the relationship with bank account</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ComboData" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CardComboInd" type="types:Max1Text" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Combo relationship indicator</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardKey" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SurrogateID" type="types:Max23Text">
										<xs:annotation>
											<xs:documentation>Surrogate number which is used to replace the PAN in the communication</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AdditionalData" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ProcessingRelationship" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="COID" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Company identifier of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner1" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 1 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner2" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 2 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Owner3" type="types:Max5Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>CAMS Owner 3 of the account</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PlasticType" type="types:Max3Text" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Code that indicates the type of product</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardDeliverData" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RegisterCode" type="types:Max13Text" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Number used to deliver the card</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MailerDate" type="xs:date" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Date of card delivery</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardManagementHeader">
		<xs:sequence>
			<xs:element name="RequestID" type="types:Max36Text"/>
			<xs:element name="IssuerID" type="types:Max5Text" minOccurs="0"/>
			<xs:element name="RequestTimestamp" type="types:Max40Text"/>
			<xs:element name="LoginID" type="types:Max8Text"/>
			<xs:element name="OperatorID" type="types:Max8Text" minOccurs="0"/>
			<xs:element name="OriginatingChannel" type="types:Max12Text" minOccurs="0"/>
			<xs:element name="ResponseMode" type="types:Max1Text" minOccurs="0"/>
			<xs:element name="OrderMode" type="types:Max1Text" minOccurs="0"/>
			<xs:element name="FunctionVersion" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardManagementResponseHeader">
		<xs:sequence>
			<xs:element name="RequestID" type="types:Max36Text"/>
			<xs:element name="ExecutionEffectiveDate" type="xs:date"/>
			<xs:element name="ExecutionTimestamp" type="xs:time"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
